<div class="home-default-container">    
    <div class="box">
        <div class="c">
          <h2>Cities</h2>
          <ul>
              <li (click) = "details('london','uk')"><label for="">London</label>, 8<sup><span>&#8451;</span></sup>, 5:18 am, 8:35 pm</li>
              <li (click) = "details('berlin','de')"><label for="">Berlin</label>, 8<sup><span>&#8451;</span></sup>, 5:20 am, 8:45 pm</li>
              <li (click) = "details('paris','fr')"><label for="">Paris</label>, 13<sup><span>&#8451;</span></sup>, 6:17 am, 916 pm</li>
              <li (click) = "details('amsterdam','nl')"><label for="">Amsterdam</label>, 9<sup><span>&#8451;</span></sup>, 5:55 am, 8:18 pm</li>
              <li (click) = "details('athens','gr')"><label for="">Athens</label>, 25<sup><span>&#8451;</span></sup>, 6:20 am, 8:22 pm</li>
          </ul>
        </div>
      </div>
</div>

        